// VARIABLES FOR SIZES

$sb-nav_height: 60px;
$sb-size-1: 1rem;
$sb-size-2: 2rem;
$sb-size-4: 4rem;
$sb-size-5: 5rem;

// VARIABLES FOR COLORS

$sb-bg: #e4e6ec;
$sb-bg-dark: #afb0b4;
$sb-bg-dark-2: #8a8b8f;
$sb-bg-dark-3: #454649;
$sb-bg-pink-1: #e65c8b;
$sb-bg-pink-2: #bd4b71;
$sb-bg-black-1: #131313;
$sb-bg-red-1:#ff2825;

// VARIABLES FOR DEVICES

$sb-mobile: 650px;
$sb-tablet: 950px;
$sb-x-lg: 1400px;